#sobre {
    width: 15%;
}

img {
    width: 50%;
}

.contenedor {
    margin: 0 auto;
    width: 1100px;
    padding: 25px;
    border: 1px solid black;
}

#paragraf {
    color: red;
}

#indice {
    text-align: center;
}

a {
    text-decoration: none;
    display: block;
    padding-bottom: 10px;
    color: black;
}

table {
    width: 100%;
}

td {
    text-align: center;
}

/* Ejercicio 31 */
.contenedorDados {
    width: 250px;
    height: 250px;
    display: inline-block;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.rojo {
    background-color: red;
}

.azul {
    background-color: blue;
}

#img-dado1 {
    width: 70%;
    margin-top: 10px;
}

#img-dado2 {
    width: 70%;
    margin-top: 10px;
}


